doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Rahul Ranjan - Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Rahul Ranjan
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/ranjan.jpeg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Rahul 
                        span.text-primary Ranjan
                    .subheading.mb-5
                        | Glasgow, United Kingdom . (+44) 777 6455 390 .
                        a(href='mailto:rranjan1699@outlook.com') rranjan1699@outlook.com
                    p.lead.mb-5
                        | I am accomplished Technical Lead with almost 9 years of Java and ReactJS development experience, providing meticulous analysis, development and testing for improved industry practices. Dedicated to effective and efficient solutions for smooth-running business processes for continued progression and profit growth.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/masterrahul/' target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/ranjanenterprises' target="_blank")
                            i.fab.fa-github
                        //- a.social-icon(href='#!')
                            i.fab.fa-twitter
                        //- a.social-icon(href='#!')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Java Lead
                            .subheading.mb-3 Syntel Europe Limited
                            ul.list
                                li.list-item
                                    p Worked as a Java lead to implement multiple functionalities of core banking and business banking for Clydesdale Bank, Yorkshire Bank and Virgin Money
                                li.list-item
                                    p Engage with multiple stakeholders from client to understand business challenges and provide solutions
                                li.list-item
                                    p Developing code and writing JUnit tests for fulfilling business requirements
                                li.list-item
                                    p Writing integration test cases for end to end functionality
                                li.list-item
                                    p Code review for development done by team members
                                li.list-item
                                    p Coordinate with offshore team members to help them in understanding project requirements
                                li.list-item
                                    p Sought timely resolutions for specific and ongoing testing and production issues to maximise delivery progression
                                li.list-item
                                    p Digitally transformed legacy online retail and business internet banking to Microservice based architecture and improved performance by 90%    
                        .flex-shrink-0
                            span.text-primary January 2016 - July 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Java Developer
                            .subheading.mb-3 Syntel Private Limited
                            ul.list
                                li.list-item
                                    p To implement multiple functionalities for cards and payments under First Data
                                li.list-item
                                    p Develop code and write unit tests for fulfilling business requirements
                                li.list-item
                                    p Writing integration test cases for end to end functionality
                                li.list-item
                                    p Coordinate with onsite members to understand project requirements
                                li.list-item
                                    p Prepare PQI audit documents
                                li.list-item
                                    p Developed scoring engine system for merchant onboarding which has capability to accept or decline applications within few seconds and increased efficiency by 90%     
                        .flex-shrink-0
                            span.text-primary December 2012 - December 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Full Stack Developer
                            .subheading.mb-3 Aeon Logicial
                            ul.list
                                li.list-item
                                    p Implemented multiple functionality for ecommerce website Bigbasket
                                li.list-item
                                    p Understood the requiremnet from the customer side and designed the system acrchitecture
                                li.list-item
                                    p Supported and resolved all issues within minimum time which were reported after the release of the product 
                                li.list-item
                                    p Designed the database design for supporting the application                
                        .flex-shrink-0
                            span.text-primary July 2012 - December 2012

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 West Bengal University of Technology
                            .subheading.mb-3 Bachelor of Technology
                            div Information Technology
                            p DGPA: 8.39
                        .flex-shrink-0
                            span.text-primary August 2008 - May 2012

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline
                        li.list-inline-item
                            span.text-primary Java
                        li.list-inline-item
                            span.text-primary J2EE
                        li.list-inline-item
                            span.text-primary Spring
                        li.list-inline-item
                            span.text-primary Spring Boot    
                        li.list-inline-item
                            span.text-primary Microservices
                        li.list-inline-item
                            span.text-primary Design Patternsva
                        li.list-inline-item
                            span.text-primary Data Structure   
                        li.list-inline-item
                            span.text-primary Web Services - REST & SOAP 
                        li.list-inline-item
                            span.text-primary ORM
                        li.list-inline-item
                            span.text-primary Oracle 
                        li.list-inline-item
                            span.text-primary Junit     
                        li.list-inline-item
                            span.text-primary HTML
                        li.list-inline-item
                            span.text-primary React JS 
                        li.list-inline-item
                            span.text-primary XML 
                        li.list-inline-item
                            span.text-primary Apache Tomcat                          
                        //-li.list-inline-item
                            i.fab.fa-html5
                        //-li.list-inline-item
                            i.fab.fa-css3-alt
                        //-li.list-inline-item
                            i.fab.fa-js-square
                        //-li.list-inline-item
                            i.fab.fa-angular
                        //-li.list-inline-item
                            i.fab.fa-react
                        //-li.list-inline-item
                            i.fab.fa-node-js
                        //-li.list-inline-item
                            i.fab.fa-sass
                        //-li.list-inline-item
                            i.fab.fa-less
                        //-li.list-inline-item
                            i.fab.fa-wordpress
                        //-li.list-inline-item
                            i.fab.fa-gulp
                        //-li.list-inline-item
                            i.fab.fa-grunt
                        //-li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Full Stack Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Development, Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Low Level Designing    
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a full stack developer, I enjoy most of my time being outdoors. I am an avid skier and novice ice climber. During the warmer months here in the United Kingdom, I enjoy long walk, mountain biking, free climbing, and kayaking.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the full stack web development world.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Microsoft Azure Fundamentals Certified
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Oracle Certified Java Deveoper
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | SPOT award for quickly restoring the services in production with minimum impact on customers
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Syntel Value award for being adaptive in owning any kind of responsibility across team
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - Reginonal Level 800m Athletes race
                       

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')